################################################################################
#
#  This file is part of SplashSync Project.
# 
#  Copyright (C) Splash Sync <www.splashsync.com>
# 
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# 
#  For the full copyright and license information, please view the LICENSE
#  file that was distributed with this source code.
# 
#  @author Bernard Paquier <contact@splashsync.com>
#
################################################################################

################################################################################
# Docker Compose File
#
# This Docker File intend to Create a Complete Dev Envirenement 
# for Splash Modules on Prestashop
#
# To us different PS Version configured, you need to add hosts to /etc/hosts
# 
# 172.102.0.10        latest.prestashop.local
# 172.102.0.16        ps1-6.prestashop.local
# 172.102.0.17        ps1-7.prestashop.local
# 172.102.0.100       toolkit.prestashop.local
# 172.102.0.200       phpmyadmin.prestashop.local
#
################################################################################


version: "3.5"

services:
    
    ################################################################################
    # MySQL Container      
    mysql:
        image: mysql:5.7
        container_name: prestashop_mysql
        environment:
            - "MYSQL_ROOT_PASSWORD=admin"
            - "MYSQL_DATABASE=prestashop"
        logging: { driver: "none" }
        networks:
            - prestashop
      
    ################################################################################
    # Prestashop Latest       
    prestashop:
        image: prestashop/prestashop:nightly-7.2-apache
        container_name: latest.prestashop.local
        depends_on:
            - mysql
        volumes:
        # Push Configuration Override
         - ./docker/config/splash.json:/var/www/html/config/splash.json:ro
        # Module Sources
         - ./modules/splashsync:/var/www/html/modules/splashsync:ro
         - ./travis:/var/www/html/travis:ro
         - ./phpunit.xml.dist:/var/www/html/phpunit.xml.dist:ro
        # Docker EntryPoint
         - ./docker/docker-entrypoint.sh:/var/www/html/modules/docker-entrypoint.sh:ro
        environment:
            - DB_SERVER=mysql
            - DB_PREFIX=ps_latest_
            - DB_NAME=Prestashop__Latest
            - PS_INSTALL_AUTO=1
            - PS_DOMAIN=latest.prestashop.local
            - PS_FOLDER_ADMIN=_ad
            - PS_FOLDER_INSTALL=installed
            - ADMIN_MAIL=contact@splashsync.com
            - ADMIN_PASSWD=splashsync
            - SPLASH_WS_ID=ThisIsPsLastKey
            - SPLASH_WS_KEY=ThisTokenIsNotSoSecretChangeIt
            - SPLASH_WS_HOST=http://toolkit.prestashop.local/ws/soap
        command: sh /var/www/html/modules/docker-entrypoint.sh
        hostname: latest.prestashop.local
        networks:
            prestashop:     { ipv4_address: 172.102.0.10 }
            splashsync:     { aliases: [ latest.prestashop.local ] }
                
    ################################################################################
    # Prestashop 1.7       
    prestashop_1_7:
        image: prestashop/prestashop:1.7-7.2-apache
        container_name: ps1-7.prestashop.local
        depends_on:
            - mysql
        volumes:
        # Push Configuration Override
         - "./docker/config/splash.json:/var/www/html/config/splash.json:ro"
        # Module Sources
         - ./modules/splashsync:/var/www/html/modules/splashsync:ro
         - ./travis:/var/www/html/travis:ro
         - ./phpunit.xml.dist:/var/www/html/phpunit.xml.dist:ro
        # Docker EntryPoint
         - ./docker/docker-entrypoint.sh:/var/www/html/modules/docker-entrypoint.sh:ro
        environment:
            - DB_SERVER=mysql
            - DB_NAME=Prestashop__1p7
            - DB_PREFIX=ps_1_7_
            - PS_INSTALL_AUTO=1
            - PS_DOMAIN=ps1-7.prestashop.local
            - PS_FOLDER_ADMIN=_ad
            - PS_FOLDER_INSTALL=installed
            - ADMIN_MAIL=contact@splashsync.com
            - ADMIN_PASSWD=splashsync
            - SPLASH_WS_ID=ThisIsPs17Key
            - SPLASH_WS_KEY=ThisTokenIsNotSoSecretChangeIt
            - SPLASH_WS_HOST=http://toolkit.prestashop.local/ws/soap
        command: sh /var/www/html/modules/docker-entrypoint.sh
        hostname: ps1-7.prestashop.local
        networks:
            prestashop:     { ipv4_address: 172.102.0.17 }
            splashsync:     { aliases: [ ps1-7.prestashop.local ] }
        
    ################################################################################
    # Prestashop 1.6       
    prestashop_1_6:
        image: prestashop/prestashop:1.6-7.1-apache
        container_name: ps1-6.prestashop.local
        depends_on:
           - mysql
        volumes:
        # Push Configuration Override
        - ./docker/config/splash.json:/var/www/html/config/splash.json:ro
        # Module Sources
        - ./modules/splashsync:/var/www/html/modules/splashsync:ro
        - ./modules/nostotagging:/var/www/html/modules/nostotagging:ro
        - ./travis:/var/www/html/travis:ro
        # Docker EntryPoint
        - ./docker/docker-entrypoint.sh:/var/www/html/modules/docker-entrypoint.sh:ro
        environment:
           - DB_SERVER=mysql
           - DB_NAME=Prestashop__1p6
           - DB_PREFIX=ps_1_6_
           - PS_INSTALL_AUTO=1
           - PS_DOMAIN=ps1-6.prestashop.local
           - PS_FOLDER_ADMIN=_ad
           - PS_FOLDER_INSTALL=installed
           - ADMIN_MAIL=contact@splashsync.com
           - ADMIN_PASSWD=splashsync
           - SPLASH_WS_ID=ThisIsPs16Key
           - SPLASH_WS_KEY=ThisTokenIsNotSoSecretChangeIt
           - SPLASH_WS_HOST=http://toolkit.prestashop.local/ws/soap
        command: sh /var/www/html/modules/docker-entrypoint.sh
        hostname: ps1-6.prestashop.local
        networks:
           prestashop:     { ipv4_address: 172.102.0.16 }
           splashsync:     { aliases: [ ps1-6.prestashop.local ] }
               
    ################################################################################
    # Splash Toolkit Container   
    toolkit:
        image: 'splashsync/toolkit'
        container_name: toolkit.prestashop.local
        volumes:
            # Specify Local Configuration File
            - './docker/toolkit/splash.yml:/app/config/packages/splash.yml:ro'
        hostname:           toolkit.wordpress.local
        networks:
            prestashop:      { ipv4_address: 172.102.0.100, aliases: [ toolkit.prestashop.local ] }
            splashsync:     { aliases: [ toolkit.prestashop.local ] }

    ################################################################################
    # PhpMyAdmin Container
    phpmyadmin:
        image: phpmyadmin/phpmyadmin:5
        container_name: phpmyadmin.prestashop.local
        logging: { driver: "none" }
        depends_on:
            - mysql
        environment:
            - PMA_HOST=mysql
            - MYSQL_USER=admin
            - MYSQL_ROOT_PASSWORD=admin
            - MYSQL_PASSWORD=admin
        networks:
            prestashop:      { ipv4_address: 172.102.0.200, aliases: [ phpmyadmin.prestashop.local ] }
            
networks:
    ################################################################################
    # Default Private Network    
    prestashop:
        driver: bridge
        ipam:
            config:
                - subnet: 172.102.0.0/24
    ################################################################################
    # External Splash Network
    splashsync:
        external: true