<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    xmlns:xsi                       =   "http://www.w3.org/2001/XMLSchema-instance"
    backupGlobals                   =   "false"
    backupStaticAttributes          =   "false"
    colors                          =   "true"
    convertErrorsToExceptions       =   "true"
    convertNoticesToExceptions      =   "true"
    convertWarningsToExceptions     =   "true"
    processIsolation                =   "false"
    stopOnFailure                   =   "true"
    bootstrap                       =   "modules/splashsync/vendor/autoload.php"
    verbose                         =   "false"
    timeoutForLargeTests            =   "120"
    cacheResult                     =   "false"
    xsi:noNamespaceSchemaLocation   =   "https://schema.phpunit.de/9.3/phpunit.xsd"
>

    <coverage>
        <include>
            <directory>modules/splashsync/tests/*</directory>
            <directory>modules/splashsync/vendor/splash/phpcore/*</directory>
        </include>
        <exclude>
            <directory>modules/splashsync/vendor</directory>
        </exclude>
    </coverage>

    <testsuites>
        <testsuite name="Core">
            <directory>modules/splashsync/vendor/splash/phpcore/Tests</directory>
        </testsuite>
        <testsuite name="Local">
            <directory>modules/splashsync/tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <server name="SERVER_NAME" value="http://localhost"/>
        <const name="SPLASH_DEBUG" value="true"/>
        <server name="SPLASH_TRAVIS" value="true"/>
    </php>

</phpunit>
