###########################################
## Allow access to soap server file only
<Files soap.php>
    # Apache 2.2
    <IfModule !mod_authz_core.c>
        Order allow,deny
        Allow from all
    </IfModule>

    # Apache 2.4
    <IfModule mod_authz_core.c>
        Require all granted
    </IfModule>
</Files>

###########################################
## MOD SECURITY
###########################################
<IfModule mod_security.c>
	SecFilterSelective REQUEST_URI "soap.php$" "allow"
</IfModule>
###########################################
# If this still doesn't work, try uncomment next line
# Required for:
# - Wordpress on OVH Shared Hosts with modSecurity
#SecFilterSelective REQUEST_URI "soap.php$" "allow"