includes:
    - '../modules/splashsync/vendor/phpstan/phpstan-phpunit/extension.neon'

parameters:
    bootstrapFiles:
        - "%currentWorkingDirectory%/grumphp/phpstan.php"
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    inferPrivatePropertyTypeFromConstructor: true
    universalObjectCratesClasses:
            - ArrayObject
            - HelperList
    ignoreErrors:
            # Know Prestashop 9.0 Issues
            - '#Instantiated class AppKernel is abstract.#'

            # Know Prestashop Issues
            - '#Parameter \#1 \$id of class [a-zA-Z0-9]+ constructor expects null\, string given.#'
            - '#Parameter \#1 \$id of class [a-zA-Z0-9]+ constructor expects null\, int given.#'
            - '#Parameter \#2 \$idLang of class Image constructor expects null\, int given.#'
            - "#Property CustomerCore::\\$passwd \\(int\\) does not accept string.#"
            - '#Parameter \#2 \$idAttributeGroup of static method AttributeGroupCore::getAttributes\(\) expects bool\, int given.#'
            - '#Parameter \#4 \$id_shop of static method StockAvailableCore::setQuantity\(\) expects null\, int given.#'

            # Know Prestashop Backward
            - '#Static method ImageCore::getImages\(\) invoked with 4 parameters, 2-3 required.#'
            - '#Class Splash\\Local\\ClassAlias\\PsProductAttribute does not have a constructor and must be instantiated without any parameters.#'

            # Splash Fixes
            - '#Access to an undefined property object::\$options#'
            - '#Access to an undefined property ObjectModel::[a-zA-Z0-9$\\_]#'
            - '#Access to an undefined property Context::[a-zA-Z0-9$\\_]#'
            - "#Casting to float something that's already float#"
            - "#Property ProductAttributeCore::\\$name \\(string\\) does not accept array#"
            - "#Property AttributeGroupCore::\\$name \\(string\\) does not accept array#"
            - "#Property AttributeGroupCore::\\$public_name \\(string\\) does not accept array#"
            - "#Property AttributeCore::\\$name \\(string\\) does not accept array#"
            - "#Property ModuleCore::\\$version \\(float\\) does not accept string.#"

            # PN Advanced Packs
            - '#Call to static method getIdsPacks\(\) on an unknown class AdvancedPack.#'

            # Phpstan Core Ignores
            -
                identifier: missingType.generics
            -
                identifier: missingType.iterableValue

    excludePaths:
            - '%currentWorkingDirectory%/modules/splashsync/vendor/*'
            - '%currentWorkingDirectory%/modules/splashsync/src/ClassAlias/*'
    dynamicConstantNames:
            - "SPLASH_SERVER_MODE"
