includes:
    - '../modules/splashsync/vendor/phpstan/phpstan-phpunit/extension.neon'

parameters:
    bootstrap: "%currentWorkingDirectory%/travis/phpstan.php"
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    inferPrivatePropertyTypeFromConstructor: true 
    universalObjectCratesClasses:
            - ArrayObject
    ignoreErrors:
            # Know Prestashop Issues
            - '#Parameter \#1 \$id of class [a-zA-Z0-9]+ constructor expects null\, string given.#'
            - '#Parameter \#1 \$id of class [a-zA-Z0-9]+ constructor expects null\, int given.#'
            - '#Parameter \#2 \$idLang of class Image constructor expects null\, int given.#'
#            - '#[a-zA-Z0-9\\_\#]+ class Currency constructor expects null, string given#'
#            - '#[a-zA-Z0-9\\_\#]+ class Address constructor expects int|null, bool|int|null given#'
            - "#Property CustomerCore::\\$passwd \\(int\\) does not accept string.#"
            - '#Parameter \#2 \$idAttributeGroup of static method AttributeGroupCore::getAttributes\(\) expects bool\, int given.#'
            - '#Parameter \#4 \$id_shop of static method StockAvailableCore::setQuantity\(\) expects null\, int given.#'

            # Know Prestashop Backward
            - '#Static method ImageCore::getImages\(\) invoked with 4 parameters, 2-3 required.#'

            # Splash Fixes
#            - '#Call to an undefined method [a-zA-Z0-9\\_]+ObjectInterface::load()#'
#            - '#Call to an undefined method [a-zA-Z0-9\\_]+ObjectInterface::getAttributeGroupByCode()#'
#            - '#Call to an undefined method [a-zA-Z0-9\\_]+ObjectInterface::addAttributeGroup()#'
#            - '#Call to an undefined method [a-zA-Z0-9\\_]+ObjectInterface::getAttributeByCode()#'
#            - '#Call to an undefined method [a-zA-Z0-9\\_]+ObjectInterface::addAttributeValue()#'
#            - '#Call to an undefined method [a-zA-Z0-9\\_]+ObjectInterface::getMultilang()#'
            - '#Access to an undefined property object::$options#'
            - '#Access to an undefined property ObjectModel::[a-zA-Z0-9$\\_]#'
            - '#Access to an undefined property Context::[a-zA-Z0-9$\\_]#'
            - "#Casting to float something that's already float#"
            - "#Property AttributeGroupCore::\\$name \\(string\\) does not accept array#"
            - "#Property AttributeGroupCore::\\$public_name \\(string\\) does not accept array#"
            - "#Property AttributeCore::\\$name \\(string\\) does not accept array#"
            - "#Property ModuleCore::\\$version \\(float\\) does not accept string.#"

            # PN Advanced Packs
            - '#Call to static method getIdsPacks\(\) on an unknown class AdvancedPack.#'
